<?xml version="1.0"?>
<launch>

    <include file="$(find erl3)/launch/gmapping.launch"/>
    <include file="$(find erl3)/launch/move_base.launch"/>

    <node name="move_arm" pkg="erl3" type="move_arm" />
    <node name="myhints" pkg="erl3" type="myhints.py" output="screen"/>
    <node name="cluedo_sm" pkg="erl3" type="cluedo_sm.py" output="screen"/>
    <node name="aruco_marker_publisher" pkg="aruco_ros" type="marker_publisher"/>
    <node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService"/>
    <node name="final_oracle" pkg="erl3" type="final_oracle"/>

</launch>
